
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@layer utilities {
  .perspective-500 {
    perspective: 500px;
  }
}

.theme_color {
  color: #347fc4;
}

.menu_popover {
  transition: all 0s ease;
  backdrop-filter: blur(15px);
  z-index: 1051;
}

.graph_wrapper {
  background:#EFF1ED;
  border-radius: 7px;
}

.hero_wrapper {
  outline: 1px solid #347fc4;
  border-radius: 7px;
}

.text_gradient {
  background: linear-gradient(45deg, #347fc4, aqua, #347fc4 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg_gradient {
  background: linear-gradient(45deg, #347fc4, aqua, #347fc4 );
}

.cards {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.popover_container {
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}

#text_shadow {
  text-shadow: rgba(0, 0, 0, 0.50) 0 8px 15px;
}

@media screen and (max-width: 767px ) {
  #text_shadow {
    text-shadow: rgba(0, 0, 0, 0.50) 0 4px 7px;
  }
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Questrial', sans-serif;
}

#motion_section > #motion_div {
  position: relative;
  max-height: 90vh;
  margin: 20px;
  
  overflow: hidden;
}

#motion_section {
  perspective: 500px;
  
}

#features {
  text-shadow: rgba(0, 0, 0, 0.35) 0 8px 15px;
  margin: 0;
  left: calc(50% + 130px);
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
}

.btc {
  background: transparent;
  stroke: #fff;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
}
